.card {
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
  }
  ul.post-tags {
    padding: 0;
    display: inline-flex;
    list-style: none;
  
    li {
      margin-right: 10px;
    }
  }

.card-image-top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title{
  font-family: Baskerville, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  Link{
    text-decoration: none;
  }
}

.card-body{
  font-family: Muli, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.card-subtitle{
  margin-bottom: 20px;
}

.text-info{
  color: red;
  text-decoration-color: red;
}

.author-image{
  border-radius: 10px;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-author{
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
