.card {
    margin-bottom: 30px;
    border-radius: 25px;
  }
  ul.post-tags {
    padding: 0;
    display: inline-flex;
    list-style: none;
  
    li {
      margin-right: 10px;
    }
  }

.card-image-top{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}