.footer-section{
  background-color:#ffffff;
}
.site-footer {
    background-color:#ffffff;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
  
    .footer-social-links {
      text-align: center;
  
      ul.social-links-list {
        li {
          margin-right: 25px;
          display: inline-block;
  
          a {
            color: 	#A9A9A9;
  
            &.instagram:hover {
              color: #e95950;
            }
            &.facebook:hover {
              color: rgb(66, 103, 178);
            }
            &.twitter:hover {
              color: rgb(56, 161, 243);
            }
            &.google:hover {
              color: rgb(221, 75, 57);
            }
            &.linkedin:hover {
              color: rgb(0, 119, 181);
            }
          }
        }
      }
    }
  }
